.wrapper {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  padding: 4rem 1.5rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

@media (width < 1024px)  {
  .container {
    width: 100%;
  }
}